body {
  
min-height: 100vh;
margin: 0px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    background-color: #1f2937;
    
}

.header-logo {
    padding: 16px 0px 16px 80px;
    color: #f9faf8;
    font-size: 24px;  
}

.header-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 16px;
    color: #e5e7eb;
    margin-right: 170px;
}

a {
    text-decoration: none;
    color: white;
}
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row
   

}

.header-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    padding: 50px 20px 50px 80px;  
    gap: 10px;

}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    margin: 50px 20px 50px 80px;

}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-sec-text {
    color: #e5e7eb;
}

.signup {
   background-color: #3882f6;
   border-radius: 18px;
   border: none;
   color: white;
   font-weight:700;
   padding: 8px 20px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 30px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;       
}

.box {
    width: 100px;
    height: 100px;
    border: solid #3882f6;;
    flex-grow: 0;
    border-radius: 8%;
    
   
    
}

.info-text {
    color: #1f2937;
    /* burada max-width yapmazsam kutu altındaki yazılar uzun oluyor
    ve böylece kutuları istediğim gibi dağıtamıyorum. 
    ben burayı flex-shrink-grow-basis vs ile çözemez miyim? */
    max-width: 100px;
    text-align: center;
    padding: 5px 0 0 0;
    
}


.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 80px;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 50px;

}

.container-2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
        
}

.left-cont-2 {
    background-color: #3882f6;
    padding: 36px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #f9faf8;
}
    
    
.right-cont-2{
    background-color: #3882f6;
    padding: 36px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.call-text {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 20px;
}

.signup-2 {
    background-color: #3882f6;
    border-radius: 8px;
    border: solid white 1px;
    padding: 4px 28px;
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 30px;
    color: #e5e7eb;
}